body {
  height: 1000px;
  background-repeat: none;
  background-image: url(../image/escheresque_ste.png);
}

header {
  font-family: sans-serif;

  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  -webkit-transition: height 0.3s;
}
header .container {
  width: 90%;
  margin: 0 auto;
}
header h1 {
  margin-top: 0;
  text-decoration: none;
  font-size: 70px;
  font-family: 'Titillium Web', sans-serif;
  text-decoration: none;


}
header h1, header nav {
  display: inline-block;
  position: relative;
  line-height: 150px;
  -webkit-transition: all 0.3s;
  text-decoration: none;

}
header a {
  color: black;
  text-decoration: none;

}
header nav {
  float: right;
  line-height: 150px;
  font-size: 1.4em;
  text-decoration: none;
}
header nav a {
  margin-left: 5px;
  text-decoration: none;
}
/*does not work*/
/*when scrolling the header shrinks*/
/*header nav a:hover {
  border-top: 2px dotted white;
  border-bottom: 2px dotted white;
  text-decoration: none;

}

header.minimized {
  height: 60px;
}
header.minimized h1, header.minimized nav {
  line-height: 60px;
}
header.minimized nav {
  font-size: 1.2em;
}
header.minimized h1 {
  font-size: 1.7em;
}
*/
.container {
  height: 1500px;
}
/*my main box for my columns*/
.divbox{
    text-align: center;
    background-color:azure;
    color:white;
    width:100%;
    font-size: 1.2em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
    font-size: 1.6em;
    height: 600px;
    background-image: url(../image/dark_mosaic.png);

}
/*to fill in empy space*/
.filler{
	height: 720px;

}
/*the border line  under neath the rotating text*/
.line{
	border-bottom: 5px solid white;
	width: 500px;
}
/*rotating letters*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Dosis:200,400,600);

.h1 {
  font-family: Dosis;
  font-weight: 200;
  position: absolute;
  text-align: center;
  display: block;
  color: #fff;
  top: 50%;
  width: 100%;
  margin-top: -55px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 0;
  -webkit-animation: anim 3.2s ease-out forwards 1s;
  animation: anim 3.2s ease-out forwards 1s;
}

strong {
  display: block;
  font-weight: 400;
}
/* resizing*/
@-webkit-keyframes anim {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg);
  }
  75% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg) translateZ(60px);
  }
  100% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    letter-spacing: 8px;
    -webkit-transform: rotateY(0deg) translateZ(100px);
  }
}
/*rotation*/
@keyframes anim {
  0% {
    text-shadow: 0 0 50px #fff;
    letter-spacing: 80px;
    opacity: 0;
    -moz-transform: rotateY(-90deg);
  }
  50% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -moz-transform: rotateY(0deg);
  }
  75% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    -moz-transform: rotateY(0deg) translateZ(60px);
  }
  100% {
    text-shadow: 0 0 1px #fff;
    opacity: 0.8;
    letter-spacing: 8px;
    -moz-transform: rotateY(0deg) translateZ(100px);
  }
}

/*media  for small screen*/
@media (min-width: 320px) and (max-width: 568px{
     header{
     	position: fixed;
     	font-size: 5px;
     	text-align: center;


    }
    .container{
    	width: 70%;
    }
    .divbox{
    	font-size: 8px;
    }
   
}